body {
  background-image: url("");
}
a {
  display: block;
  max-width: 1000px;
  max-height: 900px;
  margin-left: auto;
  margin-right: auto;
}
#title {
  color: white;
}
h1 {
  text-shadow: 0 0 2px black, 0 0 10px black;
}
.graphic-container {
  margin-top: 30px;
  /*margin-left: 10px;
  margin-right: 10px;*/
}
.slides {
  display: block;
  max-width: 100%;
  max-height: 750px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.graphic-text {
  text-align: center;
  color: white;
  font-size: 32px;
  margin-top: 10px;
}

.small-graphic-text {
  position: relative;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1920px) {
  div.bottom {
    margin-bottom: 75px;
  }
}
